.header {
  grid-row: 1 / 2;
  justify-self: stretch;
  align-self: stretch;

  display: grid;
  grid-template-columns: auto 1100px auto;
  grid-template-rows: 150px 50px;

  .header-info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: stretch;
    align-self: stretch;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .logo {
      grid-column: 1 / 2;
      justify-self: stretch;
      align-self: stretch;

      height: 150px;

      display: grid;

      .logo-image {
        justify-self: center;
        align-self: center;

        height: 100px;
        width: 100px;

        background-image: url('../images/compania-hotel.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .contacts-info {
      grid-column: 2 / 3;
      justify-self: stretch;
      align-self: stretch;

      height: 150px;

      display: grid;
      grid-template-rows: 50px 100px;

      h2 {
        grid-row: 1 / 2;
        justify-self: center;
        align-self: top;

        font-size: 12pt;
      }

      .phone-email-info {
        grid-row: 2 / 3;
        justify-self: center;
        align-self: top;

        display: grid;
        grid-template-rows: 40px 25px;

        .phone-number {
          grid-row: 1 / 2;
          justify-self: center;
          align-self: center;

          display: grid;
          grid-template-columns: auto auto;
          grid-column-gap: 5px;
          align-items: center;

          font-size: 22pt;
        }

        .email-address {
          grid-row: 2 / 3;
          justify-self: center;
          align-self: center;

          display: grid;
          grid-template-columns: auto auto;
          grid-column-gap: 5px;
          align-items: center;

          font-size: 14pt;

          .email {
            color: red;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    .address-info {
      grid-column: 3 / 4;
      justify-self: stretch;
      align-self: stretch;

      height: 150px;

      display: grid;
      grid-template-rows: 50px 100px;

      h2 {
        grid-row: 1 / 2;
        justify-self: center;
        align-self: top;

        font-size: 12pt;
      }

      .address-street {
        grid-row: 2 / 3;
        justify-self: center;
        align-self: top;

        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        grid-column-gap: 5px;

        .fa-map-marker {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          justify-self: center;
          align-self: center;

          font-size: 16pt;
        }

        .address {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          justify-self: center;
          align-self: top;

          font-size: 16pt;

          p {
            margin: 0;
          }
        }

        .how-to-find {
          grid-column: 2 / 3;
          grid-row: 2 / 3;

          text-decoration: underline;
          cursor: pointer;

          a {
            color: red;
          }
        }
      }
    }
  }

  .navigation {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-self: stretch;
    align-self: stretch;

    background-color: #FF9A40;//#A64E00

    display: grid;
    grid-template-columns: auto 1050px auto;

    .navigation-menu {
      grid-column: 2 / 3;
      justify-self: stretch;
      align-self: stretch;

      background-color: #FFC640;
      border-left: 2px solid white;
      border-right: 2px solid white;

      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      .navigation-menu-block {
        justify-self: stretch;
        align-self: stretch;

        display: grid;
        grid-template-columns: auto 2px;

        &.last-block {
          grid-template-columns: auto;
        }

        a {
          grid-column: 1 / 2;
          justify-self: stretch;
          align-self: stretch;

          display: grid;

          text-decoration: none;
          text-align: center;
          color: #4F3D13;

          &:hover {
            background-color: #FFB573;
          }

          .navigation-menu-item {
            justify-self: center;
            align-self: center;
          }
        }

        .right-border {
          grid-column: 2 / 3;
          justify-self: center;
          align-self: center;

          border-left: 2px solid #BF7330;
          height: 30px;
        }
      }
    }
  }
}
